header {
  height: 30px;
  background-color: #000000;
}

img {
  width: 100%;
}

.App {
  width: 65%;
  margin: auto;
}

.product {
  display: flex;
}

.image {
  flex: 1;
  margin-right: 30px;
}

.desc {
  flex: 2;
}