.upperbutton {
  padding: 15px 25px 15px 25px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  margin: 5px;
}

header {
  height: 50px;
  margin-bottom: 20px;;
  background-color: #000;
  box-shadow: 1px 1px 5px grey;
}

img {
  width: 100%;
}

#buttons {
  text-align: right;
}

#cart-button {
  background-color: #6699ff;
  border: 2px;
  color: white;
}

#review-button {
  color: #6699ff;
  background-color: white;
  border: 2px solid;
  border-color: #6699ff;
}

.App {
  width: 65%;
  margin: auto;
}

.flexbox {
  display: flex;
}

.image {
  flex: 1;
  margin-right: 30px;
}

.desc {
  flex: 2;
}

.col-1 {
  flex: 1;
}

/* Three column layout */
.side {
  width: 30%;
  margin-top: 10px;
}

.middle {
  width: 70%;
  margin-top: 10px;
}

/* The bar container */
.bar-container {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}

.bar {
  background-color: goldenrod;
  height: 18px;
}